DEPRECATED -- INGREDIENTS NOT EDITABLE
<!--
<form action="/ingredients/<%= @ingredient.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <table>
    <tr>
      <td><label for="name">Ingredient Name: </label></td>
      <td><input type="text" name="name" id="name" value="<%= @ingredient.name %>"></td>
    </tr>
    <tr>
      <td valign="top"><label for="instructions">Category: </label></td>
      <td>
        <select>
          <% @categories.each do |c| %>
            <option value=<%= c %>><%= c %></option>
          <% end %>
        </select>
      </td>
    </tr>
  </table>

  <input type="submit" value="Edit Recipe">
</form>
-->
